<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Laracast Lesson Assignment</title>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/x.y.z/css/bulma.css" />-->
    <style>
        .color-red
        {
            background-color: indianred;
        }
        .is-loading
        {
            color: indigo;
        }
    </style>
</head>
<body>

<div id="root">
    <input type="text" id="input" v-model="message">
    <button v-on:click="toggleclass" :title="title" :class="{'is-loading' : isLoading}" >Add Name to list </button>
    <p>The value that I am working with is {{message}}</p>
     <h1 v-text="new Date()">This is the date</h1>
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>
    <p>{{reversedtitle}}</p>
    <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
    </ul>
    <ul>
        <li v-for="task in finishedtasks" v-text="task.description"></li>
    </ul>
        <message body="messaget " title="hghgfhgf"> </message>

        <task-list></task-list>

        <coupon v-on:applied="onCouponApplied"></coupon>

        <h1 v-if="acoupon">The coupon is in use</h1>
</div>

<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
<script src="main.js"></script>
<script>
    // import Vue from 'vue';
   new Vue({
        el : '#root',
        data () {
            return{
                message : ' ',
                messaget : 'Maggy is a good girl she is practising components but she is really tired',
                names : ['Joe','Mary','Maggie','Simon'],
                title:"Adding an item to list",
                titlet : " About maggie",
                className : 'color-red',
                isLoading : false,
                acoupon : false,
                tasks :
                    [
                        {description:'Go to the store' , completed:false},
                        {description: 'Go to the gym' , completed: false},
                        {description:'Finish assignment' , completed:true},
                        {description:'Go to church' , completed:true}
                    ]
            }

        },
        methods :
            {
                addName()
                {
                     this.names.push(this.message);
                     this.message = " "
                },
                toggleclass()
                {
                    this.isLoading = true
                },
                onCouponApplied()
                {
                    this.acoupon = true;
                    alert('Coupon was applied');

                }

            },
       computed:
           {
               reversedtitle()
               {
                   return this.title.split(' ').reverse().join()
               },
               finishedtasks()
               {
                   return this.tasks.filter(task => task.completed)
               }
           }
    });
</script>

</body>
</html>
